<div class="col-md-4"></div>
<div class="col-md-4">
	<div class="jumbotron sh-jum">
		<div class="container-fluid">
			<p id="notice"><%= notice %></p>

			<p><h1><%= @blog.title %></h1></p>

			<p>
			  <h2>Body:</h2>
			  <h4><%= @blog.body %></h4>
			</p>

			<p>
			  <h2>Date:</h2>
			  <h4><%= @blog.date %></h4>
			</p>

			<br />

			<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-block btn-info" %>

			<br />

			<%= link_to 'Back', blogs_path, class: "btn btn-block btn-primary" %>
		</div>
	</div>
</div>
<div class="col-md-4"></div>